/* Animated Line */
.animated-line {
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #000000, #7f1d1d, #ff0000, #7f1d1d, #000000);
    background-size: 200% 100%;
    animation: slide 3s linear infinite;
    border-radius: 2px;
}

@keyframes slide {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}